/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }

  .aboutSection {
      margin-top: 60px;
  }

  .aboutFooter {
      background: none !important;
  }

 .page-footer {
     padding-bottom: 100px;
 }

 .headerPhotoContainer {
     padding-bottom: 30px;
 }

 .headerPhoto {
     width: 450px;
 }

 h5 {
     background: none !important;
 }

 @media only screen and (max-width: 480px) {
    /* For mobile phones: */
    .headerPhoto {
      width: 300px;
      padding-top: 60px;
    }

    .grayFiller {
        padding-top: 50px;;
      }
  }

  .parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
    .parallax-container .section {
      width: 100%;
    }
  
  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }
  
  .redFiller {
      background-color: #F7F7F7;
      height: 60px;
  }

  .grayFiller {
    background-color: #F7F7F7;
    width: 100%;
  }
  