.dashboard .topFixed{
  position: fixed;
  width: inherit;
  padding-top: 5px;
  background: white;
  margin-top: 0px;
}
.dashboard .invList{
     padding-top:90px;
}
.dashboard.mainWrapper{
     padding-top:0px
}
.dashboard.centralContent{
     position: relative;
     margin: 0 auto !important;
     border-radius: 7px;
     padding:0 !important;
     width:500px !important;
}
@media only screen and (max-width: 601px){    
     .dashboard.centralContent{width:calc(100% - 72px) !important;}
     .dashboard .topFixed{
          margin-top:0px;
     }
}
select{
     display: inline-block;
     background: #fff;
     border: 1px solid #6a6a6a;
}
select:focus{
     outline:#d32f2f;
}