.bottomBar{
     position: fixed;
     width:100%;
     bottom: 0px;
     z-index: 1200;
     justify-content:center;
}
.bottomBar .center{
     padding-top:10px;
     padding-bottom:10px;
     display: flex;
     width:500px;
     margin: 0 auto;
     justify-content: space-between
}
.bottomBar i{
     cursor:pointer;
     color:white;
}
.bottomBar button{
     background: black;
     border-radius: 65px;
     width:65px;
     height:65px;
     text-align: center;
     border:4px solid #d32f2f  ;
     position: absolute;
     top:-20px;
     left:calc(50% - (65px / 2));
     padding: 0px;
     font-weight: bold;
}
.bottomBar button:hover, .bottomBar button:focus{
     background: #d50000  ;
}


@media only screen and (max-width: 601px){
     .bottomBar .center{ 
         width: calc(100% - 72px) !important;
     }
}