.bottomBar{
     position: fixed;
     bottom: 0px;
}

.bottomBar button{
     background: black;
     border-radius: 65px;
     width:65px;
     height:65px;
     text-align: center;
     border:7px solid red;
     position: absolute;
     top:-35px;
     left:calc(50% - (65px / 2));
     padding: 0px;
     font-weight: bold;
}
.bottomBar i{
     cursor:pointer;
}
.bottomBar button:hover{
     background: #6a6a6a;
}