.pageHeader{
     position: fixed;
     top:0px;
     width:100%;
     z-index:1200;
     padding: 12px 0 0 0;
}
.pageHeader h5{
     background: white !important;
     line-height: 1.8em;
     margin-bottom:0px;
}
.pageHeader .redBar{
     background: #d32f2f !important ;
     color:white;
     text-transform: uppercase;
}