/* Form.css */
.formContainer {
  display: flex;
  width: 100%;
  margin: auto;
  background-color: #B71C1C;
  height: 100%;
  padding: 20px;
  padding-top: 30px;
  border-radius: 5px;
}

.backgroundBlack {
  background-color: black !important;
}

input {
     background-color: white !important;
     height: 2rem !important;
     padding-left: 10px !important;
     border-radius: 3px !important;
 }
 textarea {
     background-color: white !important;
     height: 4rem !important;
     padding-left: 10px !important;
     border-radius: 3px !important;
 }
input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid white;
  /* -webkit-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black; */
}

/* label color */
.input-field label {
  color: white;
}

/* label focus color */
.input-field input[type="text"]:focus + label {
  color: white;
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid white;
  /* box-shadow: 0 1px 0 0 #000; */
}

/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid white;
  /* box-shadow: 0 1px 0 0 #000; */
}

/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid white;
  /* box-shadow: 0 1px 0 0 #000; */
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: white;
  border-bottom: 1px solid white;
}
.input-field input[type="text"]:focus+label, .input-field label.active{
     color: white !important ;
 }
