.tabControl{
     margin-top:100px;
}

button.tab  {
    background:black;
    color:white;
    font-weight: bold;
    opacity: 1;
}

button.tab.selected  {
     background:#d32f2f;
     color:white;
     font-weight: bold;
}

.tabControl [class*="TabIndicator"] {
     background:#d32f2f;
}