.inv .formContainer {
    /* display: block; */
    width: 100%;
   background-color: #b71c1c;
    height: 100%;
    padding: 20px;
    border-radius: 8px;
}

input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid white;
    /* -webkit-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black; */
}

.row {
 margin-bottom: -5px;
}

.input-field.col.s12 input {
    background-color: white !important;
    height: 2rem !important;
    padding-left: 10px !important;
    border-radius: 3px !important;
}
textarea{
     width: calc(100% + 10px) !important;;
}
/* label color */
.input-field label {
    color: black;
    transform: translateX(.5rem) translateY(.3rem);
}
.input-field input:focus+label, .input-field label:active{
     color: white !important;
 }

.input-field.col label {
    left: 1rem;
    bottom: 1rem;
}

.input-field>label:not(.label-icon).active {
    transform: translateY(-20px) scale(0.8);
}

#plus_sign {
    transform: translateY(3px) translateX(-20px);
}

/* label active */
.input-field label:active {
    color: white !important;
}

/* label focus color */
.input-field input[type=text]:focus+label {
    color: white !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid white !important;
    /* box-shadow: 0 1px 0 0 #000; */
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid white;
    /* box-shadow: 0 1px 0 0 #000; */
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid white;
    /* box-shadow: 0 1px 0 0 #000; */
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: white;
    border-bottom: 1px solid white;
}

.storeDropdown {
    display: block !important;
    height: 2.15rem;
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: #fafafa;
}


.switch label input[type=checkbox]:checked+.lever:after {
  background-color: black;
}
input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before, input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
  -webkit-transform: scale(2.4);
  transform: scale(2.4);
  background-color: rgba(183, 28, 28, 0.3);
}
.switch label .lever:after {
  background-color: black;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}